mongodb-data/
.DS_Store
nextjs-app/.DS_Store
nextjs-app/node_modules
nextjs-app/.next
nextjs-app/dist
nextjs-app/logs
nextjs-app/.cache
LLC Files/
nextjs-app/.env
nextjs-app/.env.development
nextjs-app/.env.production
nextjs-app/.env.staging
profilytic-backend/node_modules/
profilytic-backend/.env
profilytic-backend/.env.development
profilytic-backend/.env.production
profilytic-backend/.env.staging
profilytic-worker/.env
profilytic-worker/.env.development
profilytic-worker/.env.production
profilytic-worker/.env.staging
profilytic-worker/node_modules/